@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --accent-color: blue;
    --base-color: white;
    --text-color: blue;
    --input-colour: white;
}
body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    padding: 0;
    background-image: url(../assets/eiffeltower.jpg);
    background-size: cover;
    background-position: right;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: var(--base-color);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);    
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--accent-color);
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
}
.nav-links a {
    text-decoration: none;
    color: var(--accent-color);
    font-weight: 500;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: var(--accent-color);
}

.wrapper {
    flex: 1 1 300px;
    text-align: left;
    padding: 20px 1000px 10px 100px;
    max-width: 600px;
    margin: 100px auto 0;
}

h1 {
    font-size: 4rem;
    color: var(--base-color);
    margin-bottom: 0.5rem;
    line-height: 1.2;
}

h2 {
    font-size: 2rem;
    color: var(--base-color);
    margin-bottom: 2rem;
    line-height: 1.4;
}


.start-btn {
    background-color: var(--accent-color);
    border: none;
    border-radius: 8px;
    padding: 14px 28px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.start-btn a {
    text-decoration: none;
    color: var(--base-color);
    font-weight: bold;
}

.start-btn:hover {
    background-color: var(--accent-color);
}

@media (max-width: 768px) {
    .wrapper {
        padding: 10px;
    }

    h1 {
        font-size: 4rem;
    }

    h2 {
        font-size: 2rem;
    }

    .start-btn {
        padding: 12px 20px;
    }
}